body {
    display:flex;
    flex-direction: column; 
    background-color: #1F2937;
    color: white;
    
}
a:link, a:visited {text-decoration: none; color: white;}
a:hover {color: black; margin: 0px;}
.header {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    padding-left: 50px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}
.title {
    margin-bottom: 20px;
}
.text {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.top h1 {
    font-weight: 900;
    font-size: 48px;
}
.top {
    display: flex;
    margin-bottom: 50px;  
    padding: 50px;
}
.sign-up {
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #3882F6;
    flex-shrink: 0;
}
button:active{transform: translateY(1px);}
.content {
    width: 300px;
    margin-left: 20px;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-right: -20px;
    margin-left: -20px;
}
.quote {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    background-size: 175px, auto;
    color: black;
    margin-left: -10px;
    margin-right: -20px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    

}
#buote {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.credits {
    display: flex;
    margin-left: 150px;

}

.placeholder {
    display: flex;
    align-self: center;
    background-color: white;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    flex-basis: auto;
}
.head-content {
    display: flex;
    flex-direction: column;
}
.bottom {
    background-color: white;
    color: black;
    padding: 0%;
    margin-left: -10px;
    margin-right: -20px;
    margin-top: 0px;
    padding: 50px;

}
.empty {
    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p {
    justify-content: center;
}

.boxes  {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
h3 {
    margin: 0px;
}
.calling-card {
    display: flex;
    background-color: #3882F6;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    justify-content: center;
    
}

.content-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
    padding-left: 50px;
    justify-content: center;
}
#bottom {
    border-style: solid;    
    border-width: 1px;
    border-color: white;
    color: white;
}