body {
    display:flex;
    flex-direction: column; 
    background-color: #1F2937;
    color: white;
}
a:link, a:visited {text-decoration: none; color: white;}
a:hover {color: black; margin: 0px;}
.header {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
    padding-left: 50px;
}
.header,
.top,
.footer,
.bottom {
    padding-left: 50px;
    padding-right: 50px;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}
.text {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.top h1 {
    font-weight: 900;
    font-size: 48px;
}
.top {
    display: flex; 
    margin-bottom: 50px;  
}
.sign-up {
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #3882F6;
}
button:active{transform: translateY(2px);}
.content {
    width: 300px;
    margin-left: 20px;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-right: -20px;
    margin-left: -20px;
}
.quote {
    display: flex;
    flex-shrink: 0;
    background-color: grey;
    margin-left: -10px;
    margin-right: -10px;
}
.placeholder {
    display: flex;
    align-self: center;
    background-color: white;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.head-content {
    display: flex;
    flex-direction: column;
}
.bottom {
    background-color: white;
    color: black;
    padding: 0%;

}
.empty {
    background-color: black;
    width: 100px;
    height: 50px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}
.p {
    justify-content: center;
}

.boxes  {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;

}